<<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <h3>Click the Table Header to change the Sorting order</h3>
        <div ng-app="ap1" ng-controller="ctr1">
            <table border="1" width="100%">
                <tr>
                    <th ng-click="orderByMe('name')">Name</th>
                    <th ng-click="orderByMe('city')">city</th>
                </tr>
                <tr ng-repeat="x in names | orderBy:myOrderBy">
                    <td>{{x.name}}</td>
                    <td>{{x.city}}</td>
                </tr>
            </table>
        </div>
        <script>
            angular.module('ap1',[]).controller('ctr1',function($scope){
                $scope.names=[
                    {name:'Hafsa',city:'Bangalore'},
                    {name:'Abdullah',city:'Rajapur'},
                    {name:'Uzaif',city:'Ratnagiri'},
                    {name:'Mohammad',city:'Mumbai'},
                    {name:'Rahul',city:'Mumbai'},
                    {name:'Nihal',city:'Dubai'}
                ];
                $scope.orderByMe=function(x){
                    $scope.myOrderBy=x;
                }
            });
        </script>
    </body>
</html>